body{
    background-image: url("bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin:0;
    padding:0;
    height:1000px;
}
/* Navbar */
.container .navbar-brand {
    font-family: Viga;
    font-size: 32px;
    color: white;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

/* Jumbotron */
.jumbotron{
    background-image: url("room-min.jpg");
    background-size: cover;
    height: 500px;
    text-align: center;
    margin-bottom: 0px !important;
}

.jumbotron .display-4{
    font-weight: 700;
}

.jumbotron h1{
    color: white;
    padding-top: 100px;
}

.jumbotron p{
    color: white;
}

.jumbotron .container{
    z-index: 1;
    position: relative;
}


.jumbotron .navbar-brand span{
    font-weight: 500;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height:60%;
    margin-bottom: 250px;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) );
    position: absolute;
    bottom: 0;
}

/* Featured Service */
#featured-service{
    background: black;
    color: white;
}
#featured-service .box{
    padding:30px 20px;
}

#featured-service .box-bg {
    padding: 30px 20px;
    background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
}

#featured-service .col-lg-4{
    margin-top: 10px;
    margin-bottom: 20px;
}

.bi{
    font-size: 30px;
}


/* Utilitiy */

/* Desktop Version */

@media (min-width: 992px) {
    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    .nav-link{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        margin-right: 18px;
        transition: all .5s linear;
    }

    .nav-link:hover{
        color: green !important;
        font-weight: bold ;
    }

    .jumbotron{
        height: 770px;
        margin-top: -75px;
    }

    .jumbotron h1{
        color: white;
        padding-top: 300px;
    }

    .jumbotron::after{
        content: '';
        display: block;
        width: 100%;
        height:60%;
        margin-bottom: 70px;
        background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) );
        position: absolute;
        bottom: 0;
    }

    #header{
        position: fixed;
        top: 0;
        background: transparent;
        width: 100%;
        height: 70px;
        transition: all 0.5s;
        z-index: 997;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
    }

    .navbar a:hover, .navbar .active, .navbar li:hover > a {
        color: #18d26e;
    }

    .navbar a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        font-weight: 600;
        color: #fff;
        white-space: nowrap;
        text-transform: uppercase;
        transition: 0.3s;
    }

    #header.header-transparent {
        background: transparent;
    }

    .align-items-center {
        align-items: center !important;
    }

    .justify-content-between {
        justify-content: space-between !important;
    }

    .d-flex {
        display: flex !important;
    }


    *, ::after, ::before {
        box-sizing: border-box;
    }

    #header.header-scrolled {
        background: rgba(0, 0, 0, 0.9);
        height: 60px;
    }

    .row > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x)/ 2);
        padding-left: calc(var(--bs-gutter-x)/ 2);
        margin-top: var(--bs-gutter-y);
    }

    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }



}
